{% extends 'base_layout.html' %}

{% block content%}
<div class="article-detail">
  <div class="article">
    <img src="{{article.thumb.url}}" alt="">
    <h2>{{article.title}}</h2>
    <p>{{article.body}}</p>
    <p>{{article.date}}</p>
  </div>
<br>
<h2>Comments...</h2>
<br>
{% if not article.comments.all %}
    No Comments added Yet.. <a href="#">Add One</a>
{% else %}
    <a href="#">Add Comment</a>
    <br><br>
    {% for comment in article.comments.all%}
        <strong>
          {{comment.name }} -
          {{ comment.date_added }}
        </strong>
        <br>
        {{ comment.body }}
        <br><br>
    {% endfor %}
    <a href="#">Add Comment</a>
{% endif %}
</div>
{% endblock %}
